  GNU nano 2.3.1                                                    File: /etc/systemd/system/congress-events.service

[Unit]
Description=Congress Events Flask server
After=network.target

[Service]
User=app
EnvironmentFile=/home/app/envars
WorkingDirectory=/var/www/backend_19288
ExecStart=/usr/bin/python3 main.py
Restart=always

[Install]
WantedBy=multi-user.target
